* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: #070809; 
  overflow-x: hidden;
  color: white;
  height:auto;
}
@font-face {
  font-family: benzin;
  src: url("./../fonts/benzin-bold.ttf");
  font-display: swap;
}
@font-face {
  font-family: fortnite;
  src: url("./../src/assets/fonts/fortnite.otf");
}
@font-face {
  font-family: geist;
  src: url("./../src/assets/fonts/geist.woff2");
  font-display: swap;
}
.benzin{
  font-family: benzin;
}
.geist{
  font-family: geist;
}

.fortnite{
  font-family: fortnite;
}
::-webkit-scrollbar{
  width: 5px;
  background-color: #070809;
}
::-webkit-scrollbar-thumb{
  background-color: aliceblue;
}
.landingPage{
  height: calc(110vh);
  background-image: url(./../src/assets/background-hero.webp);
  background-size: cover;
  background-position: center center;
  overflow-y: hidden;
}
.reveal-type{
  padding: 0 clamp(2rem, 5vw, 16rem);
}
.container {
  position: relative;
  width: 100vw;
  overflow: hidden;
}
